<div class="container">
    Name: {{ profile.firstName }} {{ profile.lastName }} <br>
    Mobile Number: {{ profile.mobileNumber }}<br>
    Date OF Birth: {{profile.dateOfBirth}}<br>
    gender: {{profile.genderid}} <br>
    Education: {{profile.educationid}} <br>
    Marital Status: {{profile.maritalStatusid}}<br>
    EmploymentType: {{profile.employmentTypeid}}<br>
    JobTitle: {{profile.jobTitle}}<br>
    Country: {{profile.countryid}}<br>
    MobileVisibility: {{profile.mobileNumVisibility}}
</div>