<div [routerLink] = "['/profile/' + profile.email]" style="cursor: pointer;">
    Name: {{ profile.firstName }} {{ profile.lastName }} <br>
    <!-- Mobile Number: {{ profile.mobileNumVisibility == 'y' ? profile.mobileNumber : 'hidden' }}<br>
        Gender: {{getGenderText(profile.genderId)}} <br>
        Date OF Birth: {{profile.dateOfBirth}}<br>
        Education: {{getEducationText(profile.educationId)}} <br> -->
    Marital Status: {{us.getMaritalStatusText(profile.maritalstatusId)}}<br>
    <!-- EmploymentType: {{getEmploymentText(profile.employmentTypeId)}}<br> -->
    <!-- JobTitle: {{profile.jobTitle}}<br> -->
    Country: {{us.getCountryText(profile.countryId)}}<br>
</div>
<!-- Keep my mobile number visible: {{ profile.mobileNumVisibility == 'n' ? 'No' : 'Yes' }} -->

