<div class="container">
    <p class="mt-2">My Profile</p>
    <h6>Fields marked * are mandatory</h6>
    <div class="row">
        <div class="col-4 mt-2">
            <div class="form-group">
                <label for="">First Name: <span class="abc">*</span></label>
                <input type="text" class="form-control" placeholder="Your first name" [(ngModel)]='profile.firstName'>
            </div>
        </div>
        <div class="col-4 mt-2">
            <div class="form-group">
                <label for="">Last Name: <span class="abc">*</span></label>
                <input type="text" class="form-control" placeholder="Your last name" [(ngModel)]='profile.lastName'>
            </div>
        </div>
        <div class="col-4 mt-2">
            <div class="form-group">
                <label for="">Mobile Number: <span class="abc">*</span></label>
                <input type="text" class="form-control" placeholder="Your mobile number"
                    [(ngModel)]='profile.mobileNumber'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <!-- <div class="label">Date Of Birth: <span class="abc">*</span></div> -->
                <!-- <select name="" id="" class="form-control" [(ngModel)]='selectedDay'>
                    <option value="undefined" class="">Select Day</option>
                    <option [value]="day" class="" *ngFor='let day of days'> {{day}} </option>
                </select> -->
                <mat-form-field>
                    <mat-label>Date of Birth:<span class="abc">*</span> </mat-label>
                    <mat-select class="" [(ngModel)]='selectedDay'>
                        <mat-option [value]='day' *ngFor='let day of days'> {{day}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Month:<span class="abc">*</span> </mat-label>
                    <mat-select class="" [(ngModel)]='selectedMonth'>
                        <mat-option [value]='month' *ngFor='let month of months'> {{month}} </mat-option>
                    </mat-select>
                </mat-form-field>
<!--                 
                <select name="" id="" class="form-control" [(ngModel)]='selectedMonth'>
                    <option value="undefined" class="">Select Month</option>
                    <option [value]="month" class="" *ngFor='let month of months'> {{month}} </option>
                </select> -->
                <mat-form-field>
                    <mat-label>Select Year:<span class="abc">*</span> </mat-label>
                    <mat-select class="" [(ngModel)]='selectedYear'>
                        <mat-option [value]='year' *ngFor='let year of years'> {{year}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <select name="" id="" class="form-control" [(ngModel)]='selectedYear'>
                    <option value="undefined" class="">Select Year</option>
                    <option [value]="year" class="" *ngFor='let year of years'> {{year}} </option>
                </select> -->
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Gender:<span class="abc">*</span> </mat-label>
                    <mat-select class="" [(ngModel)]='profile.genderId'>
                        <mat-option [value]='gen.id' *ngFor='let gen of gender'> {{gen.name}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <label for="">Gender: <span class="abc">*</span></label>
                <select name="" id="" class="form-control" [(ngModel)]='profile.genderId'>
                    <option value="undefined">Select your gender</option>
                    <option [value]="gen.id" *ngFor='let gen of gender'> {{gen.name}} </option>
                </select> -->
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Education:<span class="abc">*</span> </mat-label>
                    <mat-select class="" [(ngModel)]='profile.educationId'>
                        <mat-option [value]='edu.id' *ngFor='let edu of education'> {{edu.name}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <label for="">Education: <span class="abc">*</span></label>
                <select name="" id="" class="form-control" [(ngModel)]='profile.educationId'>
                    <option value="undefined">Select your education</option>
                    <option [value]="edu.id" *ngFor='let edu of education'> {{edu.name}} </option>
                </select> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>MaritalStatus:<span class="abc">*</span> </mat-label>
                    <mat-select class="" [(ngModel)]='profile.maritalstatusId'>
                        <mat-option [value]='mat.id' *ngFor='let mat of maritalstatus'> {{mat.name}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <label for="" class="">Marital Status: <span class="abc">*</span></label>
                <select name="" id="" class="form-control" [(ngModel)]='profile.maritalstatusId'>
                    <option value="undefined">Select your marital status</option>
                    <option [value]="mat.id" class="" *ngFor='let mat of maritalstatus'> {{mat.name}} </option>
                </select> -->
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Employment Type:<span class="abc">*</span> </mat-label>
                    <mat-select class="" [(ngModel)]='profile.employmentTypeId'>
                        <mat-option [value]='emp.id' *ngFor='let emp of employment'> {{emp.name}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <label for="" class="">Employment Type <span class="abc">*</span></label>
                <select name="" id="" class="form-control" [(ngModel)]='profile.employmentTypeId'>
                    <option value="undefined">Select your employment type</option>
                    <option [value]="emp.id" *ngFor='let emp of employment'> {{emp.name}} </option>

                </select> -->
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="">Job Title: <span class="abc">*</span></label>
                <input type="text" class="form-control" placeholder="Your job title" [(ngModel)]='profile.jobTitle'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">

                <mat-form-field>
                    <mat-label>Country:<span class="abc">*</span> </mat-label>
                    <mat-select class="" [(ngModel)]='profile.countryId'>
                        <mat-option [value]='con.id' *ngFor='let con of country'> {{con.name}} </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <label for="" class="">Country: <span class="abc">*</span></label>
                <select name="" id="" class="form-control" [(ngModel)]='profile.countryId'>
                    <option value="undefined">Select your country</option>
                    <option [value]="con.id" *ngFor='let con of country'> {{con.name}} </option>
                </select> -->
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Keep my mobile no. visible to others:<span class="abc">*</span> </mat-label>
                    <mat-select class="" [(ngModel)]='profile.mobileNumVisibility'>
                        <mat-option value="y">Yes</mat-option>
                        <mat-option value="n">No</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <label for="" class="">Keep my mobile no. visible to others:<span class="abc">*</span></label>
                <select name="" id="" class="form-control" [(ngModel)]='profile.mobileNumVisibility'>
                    <option value="undefined"></option>
                    <option value="y">Yes</option>
                    <option value="n">No</option>
                </select> -->
            </div>
            <button value="" (click)='submit()' mat-stroked-button>Submit</button>
        </div>
    </div>
    <!-- <div class="" *ngIf='!!profile'>
        Name: {{profile.firstName}} 
    </div> -->
</div>

